footer{
    background: black;
    height: 23vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

footer figure img{
    height: 70px;
    width: 70px;
}

footer p{
    margin-left: 8px;
}